.Navbar{
    font-size: 50px;
 /*   background-color: teal;*/
}
.mr-auto{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}




.array-container {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  
    
/*    margin-top: 300px;
    position: relative;
    left: 70px;
    */
}

.array-bar {
    width: 13px;
    background-color: turquoise;
    display: inline-block;
    margin: 0 1px;
    position: relative;
}